/* Group        MOHB
 Author:      (Terry) Soktheary Mao, Bade-Adebowale Kehinde
 Description: Stylingfor ContactsAgent page
*/
.auto-style1 {
    width: 100%;
    margin-left: 249px;
    margin-right: 0px;
}
.auto-style2 {
    height: 445px;
    width: 765px;
}
.auto-style5 {
    width: 783px;
}
