/* Author: Terry Mao, Darya Ostapenko
   Purpose: CSS styles for login page
   Date: July 21, 2015 
*/

/*Table width auto-style*/
.auto-style1 {
    width: 150px;
}

#dvLogin {

}

h1 {
    text-align: center;
}

#tblLogin {
    background-color: rgba(255,255,255,0.7);
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    padding: 2%;
    width: 40%;
    height:30%;
    color: #313131;
    
    

}



